.questions_section {
  background-color: #fff;
  width: 100%;
  border-radius: 24px;
  padding: 24px 20px;
}

.questions_title{
  font-weight: 500;
  line-height: 120%;
  font-size: 20px;
  margin-bottom: 20px;
}

.questions_long_answer{
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

.show_more_btn {
  border: none;
  margin: 0 auto;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 1)
  );
  color: #303030;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggled_btn {
  transform: rotate(180deg);
}
