.link{
    color: #6A0BFF;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 28px;
    margin-top: -12px;
}

.link img{
    transform: rotate(90deg);
} 