.aside_author {
  min-width: 400px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.author_container{
  display: flex;
  align-items: start;
  gap: 8px;
}

.ava {
  width: 45px;
  height: 45px;
}

.username{
  color: #191919;
  font-weight: 600;
  font-size: 16px;
}

.social_links {
  width: 96px;
  height: 24px;
}
