.skills_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skillsBtn {
  background-color: #fff;
  border: none;
  color: #5509cc;
  text-decoration: underline;
  display: flex;
  justify-content: start;
  cursor: pointer;
}
