* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #e8e8e8;
}

aside {
  width: 28%;
}

main {
  display: flex;
  align-items: start;
  gap: 20px;
  width: 70%;
  padding: 40px 0 130px;
}

ul {
  list-style: none;
}

.container {
  width: 84%;
  margin: auto;
}

.defaultBtn {
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px;
  border: #bababa 1px solid;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.activeBtn {
  border: #6a0bff 1px solid;
}
