* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body{
  background-color: #E8E8E8;
}

.container{
  width: 84%;
  margin: auto;
}

main{
  width: 70%;
}
aside{
  width: 28%;
}

ul {
  list-style: none;
}

.defaultBtn{
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border: #BABABA 1px solid;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.activeBtn{
    border: #6A0BFF 1px solid;
}