.question_container {
  box-shadow: 0px 4px 10px rgba(106, 99, 118, 0.1);
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 24px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question_section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.question_section::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #5533ff;
  display: block;
}

.question_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.question_button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
  transform: rotate(180deg);
}

.question_button_active {
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.loading_fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
